[submodule "Alamofire"]
	path = Alamofire
	url = http://github.com/Alamofire/Alamofire.git
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "Alamofire-Synchronous"]
	path = Alamofire-Synchronous
	url = https://github.com/Dalodd/Alamofire-Synchronous.git
