<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1088414182195-tplr05cnud0l5i9b1jt9qpf54or2cacm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088414182195-tplr05cnud0l5i9b1jt9qpf54or2cacm</string>
	<key>API_KEY</key>
	<string>AIzaSyB-HlYuM9L6FIMrHSZ2upDO0AveCTX4gQw</string>
	<key>GCM_SENDER_ID</key>
	<string>1088414182195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beehive.smus</string>
	<key>PROJECT_ID</key>
	<string>smus-86758</string>
	<key>STORAGE_BUCKET</key>
	<string>smus-86758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088414182195:ios:7d7ff162692e7ea8</string>
	<key>DATABASE_URL</key>
	<string>https://smus-86758.firebaseio.com</string>
</dict>
</plist>